<h1>ASK the coach</h1>

<h3>Go on, ask him!</h3>

<form action="answer" data-turbo="false">
  <input type="text" name="answer" placeholder="Ask 'anything'">
  <input type="submit" value="Ask!">
</form>
